body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  background: #ffff;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-contents {
  display: flex;
  align-content: center;
  justify-content: center;
}

/* Login form component*/

.login-form {
  color: #ffffff;
  background: rgba(12, 87, 157, 0.8);
  border-radius: 5px;
  margin: 5px 5px 5px 5px;
  width:320px;
}

.form-title {
  padding-top: 10px;
  text-align: center;
}
.form-item {
  margin: 5px 5px 5px 5px;
}

.form-input {
  width: 95%;
}

.form-submit {
  margin-bottom: 5px;
}

/* Nav bar component */
.nav-bar{
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(12, 87, 157, 0.8);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: rgba(11, 39, 72, 0.8);
}

/* Questions */
.questions-container {
  display: flex;
  justify-content: space-evenly;
}

.question-container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.question-options {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: flex-end;
}

.question-subtitle {
  display: flex;
  justify-content: center;
}

.question-card {
  height: 200px;
  width: 200px;
  border: 1px solid rgba(12, 87, 157, 0.8);
  border-radius: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.option {
  display: flex;
  flex-direction: column;
}

.option > button {
  background-color: rgba(12, 87, 157, 0.8);
  border: 1px solid rgba(12, 87, 157, 0.8);
}
/* Leaderboard component */
.leaderboard-container {
  display: flex;
  flex-direction: column;
  margin-top: 4%;
}

.leaderboard-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

table, th, td {
  border: 1px solid rgba(12, 87, 157, 0.8);
}
td {
  text-align: center;
  vertical-align: middle;
}
.user-column {
  display: flex;
  justify-content: center;
}